pyodbc==5.1.0
qifparse==0.5
ofxparse==0.21 
openpyxl==3.1.2
dropbox==11.36.2
pandas==2.2.0
statsmodels==0.14.1
prometheus-client==0.20.0
statsd==4.0.1
pycups==2.0.4
pyncclient==0.7
boto3==1.42.70
botocore==1.42.70
nextcloud-api-wrapper==0.2.3 
newrelic==11.2.0
redis==5.0.8 
python-barcode==0.15.1
python-json-logger==2.0.7 
fsspec==2026.3.0
python_slugify
astor==0.8.1
fastapi==0.135.3
python-multipart==0.0.20
ujson==5.11.0
a2wsgi==1.10.10
parse-accept-language==0.1.2
woocommerce
lxml_html_clean==0.4.4
pikepdf==10.5.1
vcrpy==7.0.0
cachetools==6.2.2 
httpx==0.28.1
giturlparse==0.12.0
paramiko==3.5.1
python-jose==3.5.0
tldextract==5.3.0
dnspython==2.7.0
s3fs==2026.3.0
                 
